<h1>Quizzes</h1>
<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Take this Quiz", quiz, class: "btn btn-primary" %>
    </p>
    <% submission = @submissions[quiz.id] %>
    <% if submission&.completed? %>
      <p class="text-success">You have completed this quiz!</p>
      <p>Your score: <%= @percentage_scores[quiz.id].to_i %>%</p>
    <% else %>
      <p>Start the quiz!</p>
    <% end %>
  <% end %>
</div>
