<h1>Quizzes</h1>
<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Take this Quiz", quiz, class: "btn btn-primary" %>
    </p>
    <% submission = @submissions[quiz.id] %>
    <% if submission&.completed? %>
      <h6 class="text-success">You have completed this quiz!</h6>
      <p>Your score: <%= @percentage_scores[quiz.id].to_i %>%</p>
    <% else %>
      <p>Start the quiz!<span class="text-white bg-warning badge badge-primary">New</span></p>
    <% end %>
  <% end %>
  <div>
    <%=link_to "back to home", root_path, class: "btn btn-secondary btn-sm"  %>
  </div>
</div>
