<h1>Quiz Tracking</h1>

<table class="table-spaced">
  <thead>
    <tr>
      <th>Quiz Title</th>
      <th>Client</th>
      <th>Performance</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <% @users.each do |user| %>
        <tr>
          <td><%= quiz.title %></td>
          <td><%= user.name %></td>
          <% submission = quiz.submissions.find_by(user: user) %>
          <% if submission %>
            <% percentage = submission.percentage_score %>
            <% if percentage < 25 %>
              <td class="text-danger">Poor Performance</td>
            <% else %>
              <td class="text-success"><%= "#{percentage}% Correct" %></td>
            <% end %>
          <% else %>
            <td class="text-secondary">Quiz not taken yet</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to home", root_path, class: "btn btn-secondary btn-sm" %>
