<h1>Quiz Tracking</h1>

<table class="table-spaced">
  <thead>
    <tr>
      <th>Quiz Title</th>
      <th>Client</th>
      <th>Performance</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <% if quiz.submissions.any? %>
        <% quiz.submissions.each do |submission| %>
          <tr>
            <td><%= quiz.title %></td>
            <td> <%= submission.user.name %></td>

              <% percentage = submission.percentage_score %>
              <% if percentage < 25 %>
               <td class="text-danger"> Poor Performance </td>
              <%else %>
                <td class="text-success"><%= "#{percentage}% Correct" %></td>
              <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td><%= quiz.title %></td>
          <td colspan="2" class="text-warning">Quiz not taken yet</td>
          <td>-</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
