<h1>Editing goal</h1>

<%= render "form", goal: @goal %>

<br>

<div>
  <%= button_to "Destroy this goal", @goal, method: :delete, class: "btn btn-danger text-white" %>
</div>

<br>

<div>

  <%= link_to "Back to goals", goals_path, class: "btn btn-secondary"  %>
</div>
